[submodule "common/VIM/pack/pea/start/ctrlp.vim"]
	path = common/VIM/pack/pea/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "common/VIM/pack/pea/start/nerdtree"]
	path = common/VIM/pack/pea/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "common/VIM/pack/pea/start/vim-airline-themes"]
	path = common/VIM/pack/pea/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "common/VIM/pack/pea/start/vim-colors-solarized"]
	path = common/VIM/pack/pea/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "common/VIM/pack/pea/start/vim-fugitive"]
	path = common/VIM/pack/pea/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "common/VIM/pack/pea/start/vim-go"]
	path = common/VIM/pack/pea/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "common/VIM/pack/pea/start/vim-gocode"]
	path = common/VIM/pack/pea/start/vim-gocode
	url = https://github.com/Blackrush/vim-gocode
[submodule "common/VIM/pack/pea/start/vim-latex"]
	path = common/VIM/pack/pea/start/vim-latex
	url = https://github.com/vim-latex/vim-latex
[submodule "common/VIM/pack/pea/start/vim-hug-neovim-rpc"]
	path = common/VIM/pack/pea/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule "common/VIM/pack/pea/start/deoplete-go"]
	path = common/VIM/pack/pea/start/deoplete-go
	url = https://github.com/zchee/deoplete-go
[submodule "common/VIM/pack/pea/start/vim-airline"]
	path = common/VIM/pack/pea/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "common/VIM/pack/pea/start/deoplete.nvim"]
	path = common/VIM/pack/pea/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
